.view-post {
    padding: 50px;
    padding-bottom: 10px;
    font-family: "Open Sans";
}

.view-post .post-info {
    font-size: 12px;
}

.view-post .post-title {
    font-size: 30px;
    font-weight: bold;
}

.view-post .post-content {
    padding-top: 10px;
    padding-block-end: 20px;
    font-size: 15px;
    font-weight: normal; 
}
