.post-wrapper {
  align-self: center;
}

.card-post {
    display: flex;   
    margin-bottom: 1em;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 110px;
    width: 500px;
    padding-block: 10px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .card-post .title {
    color: #000000;
    font-family: "Open Sans", bold;
    font-size: 25px;
    font-weight: 700;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
  }

  .card-post .content {
    color: #000000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
  }
  
  .card-post .info {
    color: #000000;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .card-post .comments {
    left: 70px;
    position: absolute;
    top: 90px;
    
  }
  
  .card-post .likes {
    left: 20px;
    position: absolute;
    top: 90px;
  }

